{% extends "base.html" %}

{% block title %}Sportee Search - Search{% endblock %}

{% block page_content %}

<div class="row">
    <style >
        .search-icon{
            border: none;
            background: none;
        }
        #content{
            width: 80%;
            display: inline;
        }
        .left-bar h3{
            font-size: large;
        }
    </style>
    
    <div class="row">
          <div class="col-md-4 col-lg-3" >
              <img src="../static/icon.png" alt="icon" width="160" height="166">
          </div>
    
          <div class="col-md-8 col-lg-9" >

                <div class="tabbable" id="tabs-368165">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-1" data-toggle="tab">搜宝贝</a>

                        </li>
                        <li>
                            <a href="#panel-2" data-toggle="tab">搜品牌</a>
                        </li>
                        <li>
                            <a href="upload">搜图片</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-1">
                            <form action="result" method="GET">
                                <div>
                                {{form.content.label}} {{form.content}} 
                                <!-- {{ form.content.errors[0] }} -->
                                <button class="submit search-icon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="panel-2">
                            <form action="brand_result" method="GET">
                                <div class="search_bar">
                                    {{form.content.label}} {{form.content}} 
                                    <!-- {{ form.content.errors[0] }} -->
                                    <button class="submit search-icon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
    
    
          </div>
    </div>
        <hr>
    <div class="col-md-3 col-lg-3 left_bar">
        <h3>你可能感兴趣</h3>
        <div class="list-group">

            <a href="./brand_result?content=耐克" class="list-group-item active">
                <img src="../static/耐克.png" alt="耐克"><strong>耐克</strong> 
            </a>
            <a href="./brand_result?content=adidas" class="list-group-item">
                <img src="../static/阿迪达斯.png" alt="耐克"><strong>Adidas</strong> 
            </a>
            <a href="./brand_result?content=adidas" class="list-group-item">
                <img src="../static/李宁.png" alt="耐克"><strong>李宁</strong> 
            </a>
            <a href="./brand_result?content=adidas" class="list-group-item">
                <img src="../static/安踏.png" alt="耐克"><strong>安踏</strong> 
            </a>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        幻灯片素材
    </div>
    <div class="col-md-3 col-lg-3">
        广告区
    </div>
</div>
    
</div>

{% endblock %}
