
<div class="row">
    {{ pagination.info }}
</div>
<div class="result">
    <div class="row">
        {% for single_res in res[:4] %}
        <div class="col-xs-6 col-sm-3">
            <strong> {{ single_res.title}}</strong>
            <a href="{{single_res.url}}">{{ single_res.title }}</a>
            <span> {{single_res.price }}</span>
            <p> {{ single_res.hot_word }}</p>
           
        </div>
            
        {% endfor %}
    </div>
    <div class="row">
        {% for single_res in res[:4] %}
        <div class="col-xs-6 col-sm-3">
            <strong> {{ single_res.title}}</strong>
            <a href="{{single_res.url}}">{{ single_res.title }}</a>
            <span> {{single_res.price }}</span>
            <p> {{ single_res.hot_word }}</p>
           
        </div>
            
        {% endfor %}
    </div>
    <div class="row">
        {% for single_res in res[:4] %}
        <div class="col-xs-6 col-sm-3">
            <strong> {{ single_res.title}}</strong>
            <a href="{{single_res.url}}">{{ single_res.title }}</a>
            <span> {{single_res.price }}</span>
            <p> {{ single_res.hot_word }}</p>
           
        </div>
            
        {% endfor %}
    </div>
    <div class="row">
        {% for single_res in res[:4] %}
        <div class="col-xs-6 col-sm-3">
            <strong> {{ single_res.title}}</strong>
            <a href="{{single_res.url}}">{{ single_res.title }}</a>
            <span> {{single_res.price }}</span>
            <p> {{ single_res.hot_word }}</p>
           
        </div>
            
        {% endfor %}
    </div>
    
    <hr>
    <div class="row">
        {{ pagination.links }}
    </div>
</div>