{% extends "base.html" %}

{% block title %}Sportee Search - Search{% endblock %}

{% block page_content %}

<div class="row">
    <style >


    </style>
    
    <div class="row">
        <div class="col-md-4 col-lg-3" >
            <img src="../static/icon.png" alt="icon" width="160" height="166">
        </div>

        <div class="col-md-8 col-lg-9" >
            <form method="post" enctype="multipart/form-data" action="img_result">
                {{ form.csrf_token }}
                {{ form.img_file }} <br>
                <button type="submit">搜索</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}